<!-- templates/base.html -->
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cadastro/css/styles.css' %}">
    <title>{% block title %}Meu Site{% endblock %}</title>
</head>
<body>
    {% include 'componentes/header.html'%}
    <main>
        {% block content %}
        <!-- Vidro da foto--->
        {% endblock %}
    </main>
    {% include 'componentes/footer.html'%}
</body>
</html>

<!--<nav class="navbar navbar-info  text-light  justify-content-sm-center">-->