{% extends "base.html" %}
{% block content %}

<br>
<div class="container">
  <h1>Sobre Nós</h1>
  <br>
  <p>Bem-vindo ao TaskGest, sua solução definitiva para a gestão eficiente de tarefas e projetos! Criada para facilitar a organização e aumentar a produtividade, nossa ferramenta oferece um conjunto robusto de funcionalidades que permitem acompanhar tarefas, definir prioridades e colaborar em equipe com facilidade.</p>
  <p>Nossa missão é simplificar sua vida profissional e pessoal, fornecendo uma plataforma intuitiva e personalizável que se adapta às suas necessidades. Com recursos como rastreamento de progresso, notificações em tempo real e integração com outras ferramentas, garantimos que você tenha tudo o que precisa para alcançar seus objetivos e manter seus projetos no caminho certo.</p>
  <p>Junte-se a nós e descubra como o TaskGest pode transformar a maneira como você gerencia suas tarefas e projetos, tornando cada dia mais produtivo e menos estressante.</p>
  <img src="https://cdn.pixabay.com/photo/2017/06/10/06/39/calender-2389150_960_720.png" alt="calendário" style="display: block; margin: 0 auto; max-width: 45%; height: auto;">
</div>


{% endblock %}